<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>360818518046-h58sdlfn5m6le7eb987esqp0hcmjb55q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.360818518046-h58sdlfn5m6le7eb987esqp0hcmjb55q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>360818518046-1sdlp8lpu1n6bgse1jm9bpkjks4o2mio.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBe4N_nXKzKDhCqfT-PwhMKc5vGFMi8kG0</string>
	<key>GCM_SENDER_ID</key>
	<string>360818518046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.voteforgoat.app</string>
	<key>PROJECT_ID</key>
	<string>vtgapp-2025</string>
	<key>STORAGE_BUCKET</key>
	<string>vtgapp-2025.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360818518046:ios:c5671b0fce7e6e6f7fa60f</string>
</dict>
</plist>